.vue-virtual-tree {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #606266;

  &__scroller {
    height: 100%;
  }

  &__item {
    width: 100%;
  }
}

.vue-virtual-tree-node {
  position: relative;
  user-select: none;

  &__content {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding-right: 8px;

    &:hover {
      background-color: #f5f7fa;
    }
  }

  &.is-disabled {
    .vue-virtual-tree-node__content {
      cursor: not-allowed;
      color: #c0c4cc;
    }
  }

  &__expand-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    transition: transform 0.2s;
    color: #606266;
    flex-shrink: 0;

    &.is-leaf {
      visibility: hidden;
    }
  }

  &.is-expanded {
    .vue-virtual-tree-node__expand-icon {
      transform: rotate(90deg);
    }
  }

  &.is-loading {
    .vue-virtual-tree-node__expand-icon {
      color: #409eff;
    }
  }

  &__checkbox {
    margin-right: 8px;
    flex-shrink: 0;

    input[type="checkbox"] {
      cursor: pointer;
    }
  }

  &__label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__loading-icon {
    animation: vue-virtual-tree-loading-rotate 1.5s linear infinite;
  }

  &__loading-dots {
    animation: vue-virtual-tree-loading-dots-rotate 1.5s linear infinite;
  }
}

@keyframes vue-virtual-tree-loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vue-virtual-tree-loading-dots-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

